.authenticated-route-wrapper {
    width: 100%;
    height: 100%;

    header {
        height: 55px;
        background-color: #1a1919;

        .container {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .user-profile-wrapper {
                background: #fff;
                border-radius: 40px;
                width: 38px;
                height: 38px;
                margin: 6px 8px;
                padding: 9px 0 0 6px;
                cursor: pointer;
            }
        }
    }

    main {
        height: calc(100% - 55px);
        padding: 10px;
    }
}